{% extends 'base.html' %}

{% block main %}

<h1 class="page-heading">Add Nurse</h1>

<form>
	<input type="text" name="first_name" autocomplete="off" placeholder="First Name">

	<input type="text" name="last_name" autocomplete="off" placeholder="Last Name">

	<ul>
		<label for="gender">Please Select Gender</label>
		<li>
			<input type="radio" id="male" name="Gender" value="male">
			<label for="male">Male</label>

			<div class="check"><div class="inside"></div></div>
		</li>

		<li>
			<input type="radio" id="female" name="Gender" value="female">
			<label for="female">Female</label>

			<div class="check"><div class="inside"></div></div>
		</li>
	</ul>

	<label>Address</label>
	<textarea name="address" placeholder="Please state address"></textarea>

	<label>Phone Number</label>
	<input type="text" name="phone" autocomplete="off">

	<label>Date of Birth</label>
	<input type="text" name="dob" autocomplete="off" placeholder="format Eg: 1991/02/18">

	<label class="warning">Employee Type <span>* Do not touch *</span></label>
	<select class="select">
		<option selected value="doctor">Nurse</option>
	</select>

	<label>Type of Nurse</label>
	<select class="select">
		<option value="resident">Registered</option>
		<option value="intern">Mid Wife</option>
		<option value="consultant">Enrolled</option>
	</select>

	<label>Date Started</label>
	<input type="text" name="date_started" autocomplete="off" placeholder="format Eg: 1991/02/18">

	<div>
		<label>Please Give Unique User name</label>
		<input type="text" name="username" autocomplete="off" placeholder="User Name">
	</div>

	<div>
		<label>Please Provide a Password</label>
		<input type="password" name="password" placeholder="Password">
	</div>

	<div>
		<label>Please Confirm Password</label>
		<input type="password" name="confirm_password" placeholder="Confirm Password">
	</div>
</form>

{% endblock %}